<link rel="stylesheet" href="{{ 'instafeed-front.css' | asset_url }}">

<div id="ai-instafeed-grid-root"></div>

<script src="{{ 'instafeed-front.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Instafeed: Feed Grid",
  "target": "section",
  "settings": []
}
{% endschema %}
